<footer>
  <ul>
    <li>
      <a mat-raised-button color="warn" href="https://material.angular.io/" target="_blank">Angular material</a>
    </li>
    <li>
      <a mat-raised-button color="warn" href="https://github.com/angular/flex-layout" target="_blank">Angular Flex</a>
    </li>
    <li>
      <a mat-raised-button color="warn" href="https://material.io/icons/" target="_blank">Material Icons</a>
    </li>
    <li>
      <a mat-raised-button color="warn" href="http://www.amp-what.com/unicode/search/%2Fnote%7Cmusic%2F" target="_blank">HTML Entety</a>
    </li>
    <li>
      <a mat-raised-button color="warn" href="https://en.wikipedia.org/wiki/List_of_musical_symbols" target="_blank">List of symbols</a>
    </li>
    <li>
      <a mat-raised-button color="warn" href="https://plus.google.com/u/0/113117123844320759979" target="_blank">Google plus</a>
    </li>
    <li>
      <a mat-raised-button color="warn" href="http://www.apronus.com/" target="_blank">Apronus</a>
    </li>
  </ul>
</footer>
🗊 &#x1f5ca;
